    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


    .inter-fonts {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: white;
        background-color: rgba(26, 11, 46, 1);
    }

    /* Shared Styles */
    .grad {
        background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    }







    /* Buttons */

    .btn {
        color: white;
        width: 135px;
        height: 44px;
        padding: 12px 16px 12px 16px;
        border-radius: 10000px;
        cursor: pointer;
    }

    .btn-grp {
        margin-top: 28px;
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .second-btn {
        background: transparent;
        border: 2px solid #00ff88;
        color: #00ff88;
    }


    /* Navbar style */
    .navbar {
        width: 100%;
        height: 92px;
        margin: 0 auto;
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 219px;
        height: 32px;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links {

        list-style: none;
        display: flex;
        gap: 32px;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        opacity: 90%;
        line-height: 120%;
        font-weight: 500;
        transition: 0.3s;
    }

    .nav-links a:hover {
        opacity: 100%;
    }

    .hero {
        width: 100%;
        height: 760px;
        background: url("./assets/hero-bg.png") center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        text-align: center;
    }


    .hero-visual {
        position: relative;
        max-width: 260px;
        max-height: 260px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .hero-circle {
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    .hero-mic {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .hero-content {
        position: relative;
        z-index: 3;
    }


    .hero-content h1 {
        margin-top: 28px;
        font-size: 3.8rem;
        font-weight: 700;
    }

    .hero-content p {
        margin-top: 14px;

        max-width: 520px;
        line-height: 1.6;
    }

    /* About Section */
    .about {
        width: 100%;
        height: 646px;
        padding: 120px 0;
        display: flex;
        justify-content: center;
    }

    .about-box {
        width: 100%;
        max-width: 1200px;
        padding: 60px 200px;
        background: rgba(255, 255, 255, 0.02);
        border-radius: 16px;
        text-align: center;
    }

    .about-box h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .about-text {
        line-height: 170%;
        margin-bottom: 18px;
    }

    .about-text.small {
        font-size: 14px;
        opacity: 90%;
    }

    .about-stats {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    .about-stats h3 {
        color: #00ff88;
        font-size: 32px;
        margin-bottom: 6px;
    }

    .about-stats span {
        font-size: 0.9rem;
    }

    /* Why Section */
    .why {
        width: 100%;
        padding: 120px 0;
        display: flex;
        justify-content: center;
    }

    .why-box {
        width: 100%;
        max-width: 1600px;
        padding: 0 200px;
        margin: auto;
        text-align: center;
    }

    .why-box h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .why-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    .card {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .card h3 {
        margin-bottom: 8px;
    }

    .card p {
        line-height: 1.6;
        opacity: 0.9;
    }

    .why-icon {
        width: 36px;
        margin-bottom: 14px;
    }

    .big-layout {
        grid-row: span 2;
    }

    .normal-layout {
        grid-column: span 2;
    }

    .small-layout {
        grid-column: span 1;
    }


    /* Features Section Style */

    .featured {
        width: 100%;
        padding: 120px 0;
        display: flex;
        justify-content: center;
    }

    .episodes {
        width: 100%;
        max-width: 1200px;
        text-align: center;
    }

    .episodes h2 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 48px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .cards .card {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .cards .card:hover {
        transform: translateY(-6px);
        background: rgba(255, 255, 255, 0.08);
    }

    .video {
        justify-content: center;
        align-items: top;
        width: 100%;
        aspect-ratio: 380 / 214;
        overflow: hidden;
        border-radius: 16px 16px 0 0;
        margin-bottom: 16px;
    }

    .video iframe {

        width: 100%;
        height: 100%;
        border: none;
    }


    .card-body {
        padding: 16px;
    }



    .cards .card h3 {
        font-size: 1.05rem;
        margin-bottom: 8px;
    }

    .cards .card p {
        font-size: 0.9rem;
        line-height: 1.5;
        opacity: 0.85;
        margin-bottom: 12px;
    }

    .time {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: auto;
    }

    .time img {
        width: 16px;
    }

    .time span {
        font-size: 0.85rem;
        opacity: 0.8;
    }