    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


    .inter-fonts {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: white;
    }

    /* Shared Styles */
    .grad {
        background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    }







    /* Buttons */

    .btn {
        color: white;
        width: 135px;
        height: 44px;
        padding: 12px 16px 12px 16px;
        border-radius: 10000px;
        cursor: pointer;
    }

    .btn-grp {
        margin-top: 28px;
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .second-btn {
        background: transparent;
        border: 2px solid #00ff88;
        color: #00ff88;
    }


    /* Navbar style */
    .navbar {
        width: 100%;
        height: 92px;
        margin: 0 auto;
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        color: white;
        width: 219px;
        height: 32px;
        font-weight: bold;
        justify-content: space-around;
        align-items: center;
    }

    .logo #wave {
        background: linear-gradient(45deg,
                rgba(247, 233, 63, 1),
                rgba(251, 9, 180, 1),
                rgba(145, 0, 248, 1));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .nav-links {

        list-style: none;
        display: flex;
        gap: 32px;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        opacity: 90%;
        line-height: 120%;
        font-weight: 500;
        transition: 0.3s;
    }

    .nav-links a:hover {
        opacity: 100%;
    }

    .hero {
        width: 100%;
        height: 760px;
        background: url("./assets/hero-bg.png") center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        text-align: center;
    }


    .hero-visual {
        position: relative;
        max-width: 260px;
        max-height: 260px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .hero-circle {
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    .hero-mic {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .hero-content {
        position: relative;
        z-index: 3;
    }


    .hero-content h1 {
        margin-top: 28px;
        font-size: 3.8rem;
        font-weight: 700;
    }

    .hero-content p {
        margin-top: 14px;
        color: #cccccc;
        max-width: 520px;
        line-height: 1.6;
    }