    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


    .inter-fonts {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color: white;
        background-color: rgba(26, 11, 46, 1);
    }

    /* Shared Styles */
    .grad {
        background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    }

    /* Buttons */

    .btn {
        color: white;
        height: 44px;
        padding: 12px 16px;
        border-radius: 10000px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border: none;
        font-weight: 500;
    }

    .btn-grp {
        margin-top: 28px;
        display: flex;
        gap: 16px;
        justify-content: center;
    }

    .second-btn {
        background: transparent;
        border: 2px solid #00ff88;
        color: #00ff88;
    }

    .spot {
        width: 100%;
        max-width: 200px;
    }

    /* Navbar style */
    .navbar {
        width: 100%;
        height: 92px;
        margin: 0 auto;
        background-color: #1A0B2E;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo {
        width: 219px;
        height: 32px;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links {

        list-style: none;
        display: flex;
        gap: 32px;
        justify-content: space-around;
        align-items: center;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        opacity: 90%;
        line-height: 120%;
        font-weight: 500;
        transition: 0.3s;
    }

    .nav-links a:hover {
        opacity: 100%;
    }

    .hero {
        width: 100%;
        height: 760px;
        background: url("./assets/hero-bg.png") center/cover no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 120px;
        text-align: center;
    }

    .hero-visual {
        position: relative;
        max-width: 260px;
        max-height: 260px;
        margin-bottom: 30px;
        overflow: hidden;
    }

    .hero-circle {
        width: 100%;
        height: 100%;
        z-index: 1;

    }

    .hero-mic {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110px;
        transform: translate(-50%, -50%);
        z-index: 2;
    }

    .new-badge {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #00ff88;
        color: #1A0B2E;
        font-size: 12px;
        font-weight: 700;
        padding: 4px 10px;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 255, 136, 0.6);
        z-index: 5;
    }

    .hero-content {
        position: relative;
        z-index: 3;
    }

    .hero-content h1 {
        margin-top: 28px;
        font-size: 3.8rem;
        font-weight: 700;
    }

    .hero-content p {
        margin-top: 14px;

        max-width: 520px;
        line-height: 1.6;
    }

    /* About Section */
    .about {
        width: 100%;
        height: 646px;
        padding: 120px 0;
        display: flex;
        justify-content: center;
    }

    .about-box {
        width: 100%;
        max-width: 1200px;
        padding: 60px 200px;
        background: rgba(255, 255, 255, 0.02);
        border-radius: 16px;
        text-align: center;
    }

    .about-box h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 24px;
    }

    .about-text {
        line-height: 170%;
        margin-bottom: 18px;
    }

    .about-text.small {
        font-size: 14px;
        opacity: 90%;
    }

    .about-stats {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
    }

    .about-stats h3 {
        color: #00ff88;
        font-size: 32px;
        margin-bottom: 6px;
    }

    .about-stats span {
        font-size: 0.9rem;
    }

    /* Why Section */
    .why {
        width: 100%;
        padding: 120px 0;
        display: flex;
        justify-content: center;
    }

    .why-box {
        width: 100%;
        max-width: 1600px;
        padding: 0 200px;
        margin: auto;
        text-align: center;
    }

    .why-box h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .why-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    .card {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
    }

    .card h3 {
        margin-bottom: 8px;
    }

    .card p {
        line-height: 1.6;
        opacity: 0.9;
    }

    .why-icon {
        width: 36px;
        margin-bottom: 14px;
    }

    .big-layout {
        grid-row: span 2;
    }

    .normal-layout {
        grid-column: span 2;
    }

    .small-layout {
        grid-column: span 1;
    }


    /* Features Section Style */

    .featured {
        width: 100%;
        padding: 120px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .episodes {
        width: 100%;
        max-width: 1200px;
        text-align: center;
    }

    .episodes h2 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 48px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .cards .card {
        height: 440px;
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 0px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .cards .card:hover {
        transform: translateY(-6px);
        background: rgba(255, 255, 255, 0.08);
    }

    .video {
        line-height: 0;
        justify-content: center;
        align-items: top;
        width: 100%;
        aspect-ratio: 380 / 214;
        overflow: hidden;
        border-radius: 16px 16px 0 0;
    }

    .video iframe {
        display: block;
        width: 110%;
        height: 110%;
        transform: translate(-5%, -5%);
        border: none;
    }

    .card-body {
        padding: 16px;
    }

    .cards .card h3 {
        font-size: 1.5rem;
        margin-bottom: 8px;
        font-weight: 700;
        line-height: 1.8rem;
        text-align: left;
    }

    .cards .card p {
        font-size: 0.9rem;
        line-height: 1.5rem;
        opacity: 60%;
        margin-bottom: 12px;
    }

    .time {
        display: flex;
        align-items: center;
        gap: 6px;
        margin-top: auto;
    }

    .time img {
        width: 16px;
    }

    .time span {
        font-size: 0.85rem;
        opacity: 0.8;
    }

    /* Host Section Styles */
    .host {
        width: 100%;
        max-width: 1200px;
        margin-top: 120px;
        text-align: center;
    }

    .host h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .meet {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        padding: 40px;
        display: flex;
        align-items: center;
        gap: 24px;
        text-align: left;

    }

    .host-img {
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
        margin-right: 16px;
    }

    .host-details {
        align-items: center;
        justify-content: center;
    }

    .host-details h3 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 12px;
    }

    .host-details p {
        font-size: 0.95rem;
        line-height: 1.6rem;
        opacity: 60%;
        margin-bottom: 16px;
    }

    .social {
        display: flex;
        gap: 14px;
    }

    .social img {
        width: 22px;
        height: 22px;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s;
    }

    .social img:hover {
        opacity: 1;
        transform: scale(1.1);
    }

    /* Footer Styles */

    footer {
        width: 100%;
        background: url("./assets/footer-bg.png") center/cover no-repeat;
    }

    .footer-container {
        max-width: 1200px;
        margin: auto;
        padding: 80px 20px 40px;
        text-align: center;
    }

    .footer-logo img {
        width: 410px;
        margin-bottom: 24px;
    }

    .podcast {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-bottom: 24px;
    }

    .listen {
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 0.85;
    }

    .listen img {
        width: 22px;
    }

    .listen p {
        font-size: 0.9rem;
    }

    .footer-container p {
        font-size: 0.8rem;
        opacity: 0.7;
    }

    /* Hamburger Icon */
    #menu-toggle {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle img {
        width: 26px;
        cursor: pointer;
    }

    /* Media Query for small devices */
    @media screen and (max-width:576px) {

        /* Navbar */
        .navbar {
            justify-content: space-between;
            padding: 0 20px;
            position: relative;
        }

        .logo {
            width: 137px;
        }

        .desktop-btn {
            display: none;
        }

        .menu-toggle {
            display: block;
        }

        .nav-links {
            position: absolute;
            top: 92px;
            left: 0;
            width: 100%;
            background: #1A0B2E;
            flex-direction: column;
            gap: 20px;
            padding: 30px 0;
            display: none;
        }

        #menu-toggle:checked~.nav-links {
            display: flex;
        }


        /* Hero Part */
        .hero {
            height: auto;
            padding: 80px 20px 60px;
            background-size: 100% auto;
            background-position: center 70px;
            background-repeat: no-repeat;
        }

        .hero-visual {
            max-width: 180px;
            max-height: 180px;
            margin-bottom: 24px;
        }

        .hero-mic {
            width: 80px;
        }

        .new-badge {
            font-size: 10px;
            padding: 3px 8px;
            top: 6px;
            right: 6px;
        }

        .hero-content h1 {
            font-size: 2.4rem;
        }

        .hero-content p {
            font-size: 0.95rem;
            max-width: 100%;
            padding: 0 10px;
        }

        .btn-grp {
            flex-direction: column;
            width: 100%;
            align-items: center;
        }

        .btn {
            width: 100%;
            max-width: 260px;
        }

        /* About Section */

        .about {
            padding: 60px 20px;
            height: auto;
        }

        .about-box {
            width: 100%;
            max-width: 440px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            gap: 40px;
            padding: 40px 20px;
            height: auto;
        }

        .about-box h2 {
            font-size: 2rem;
            line-height: 2.6rem;
            font-weight: 700;
            width: 400px;
            max-width: 100%;
            margin: 0 auto 24px;
            text-align: center;
            white-space: nowrap;
        }

        .about-stats {
            width: 100%;
            max-width: 400px;
            margin-top: 40px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
            column-gap: 20px;
            text-align: center;
        }

        /* Why section styles */
        .why {
            padding: 40px 20px;
        }

        .why-box {
            width: 460px;
            max-width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .why-box h2 {
            font-size: 2rem;
            text-align: center;
        }

        .why-grid {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;
        }

        .why-grid .card {
            width: 100%;
            padding: 24px;
            border-radius: 16px;
            background: rgba(255, 255, 255, 0.05);
        }

        .why-icon {
            width: 35px;
            margin-bottom: 12px;
        }

        .why-grid h3 {
            font-size: 1.05rem;
            margin-bottom: 10px;
        }

        .why-grid p {
            font-size: 1rem;
            line-height: 1.6rem;
            opacity: 60%;
        }


        /* Featured Episodes Section */
        .featured {
            margin: 40px 20px;
        }

        .episodes {
            width: 100%;
            max-width: 400px;
        }

        .episodes h2 {
            font-size: 2rem;
            margin-bottom: 24px;
        }

        .cards {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .cards .card {
            width: 100%;
            height: auto;
            border-radius: 16px;
            overflow: hidden;
        }

        .video {
            width: 100%;
            aspect-ratio: 400 / 220;
        }

        .card-body {
            padding: 16px;
        }

        .cards .card h3 {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }

        .cards .card p {
            font-size: 1rem;
            line-height: 1.4rem;
        }

        .time {
            margin-top: 8px;
        }


        /* Host section */
        .host {
            margin-top: 60px;
            padding: 0 20px;
        }

        .host h2 {
            font-size: 2rem;
            margin-bottom: 24px;
        }

        .meet {
            flex-direction: column;
            padding: 24px;
            text-align: center;
        }

        .host-img {
            margin: 0 auto 16px;
            max-width: 120px;
            max-height: 120px;
        }

        .host-details {
            text-align: center;
        }

        .social {
            justify-content: center;
        }
    }